* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 30px;
  width: 600px;
}

.counter {
    margin: 0 auto;
  padding: 30px;
  border: solid 2px wheat;
  width: 70%;
}

.count {
  margin: 0 auto 20px;
  padding: 15px;
  background-color: wheat;
  width: 30%;
}

.btn-count {
  margin-right: 10px;
  padding: 5px;
  cursor: pointer;
}
